<% if user_signed_in? %>
	<h1><STRONG>Demigod</STRONG>erest</h1>
<% else %>
	<div class="hero-unit">
		<h1><STRONG>Demigod</STRONG>erest</h1>
		<p>
			You've found the home page for 
			<%= link_to "Demigoderest", "http://www.google.com" %>!
		</p>
		<p>
			Demigoderest is a tool used for collecting, organizing, and sharing the video game media, military history, and occult orientated material we all love. Open up to the Sci-fi, fantasy world that inspires you and share today.
			<%= link_to "Total War", "http://www.totalwar.com/en_us/" %> is a link to Total War.
		</p>
		<p>
			<%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-inverse btn-large" %>
		</p>
	</div>
<% end %>

