<div class="hero-unit">
	<h1><STRONG>Demigod</STRONG>erest</h1>
	<p>
		You've found the home page for 
		<%= link_to "Demigoderest", "http://www.google.com" %>!
	</p>
	<p>
		<%= link_to "Sign Up Now!", "#", class: "btn btn-inverse btn-large" %>
	</p>
</div>

